a {
	color:#333;
}
* {
   padding:0;
   margin:0;
}
body {
      font: 12px/1.3 'Arial','Microsoft YaHei';
      overflow-x: hidden;
      color: #333;
}
#top {
      background:rgba(255,255,255,0.94);
      box-shadow: 0 0 1px 0px rgba(0,0,0,0.3), 0 0 6px 2px rgba(0,0,0,0.15);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 48px;
      z-index:999;
}
.logo{
       display: block;
       margin-left: 50px;
       width: 140px;
       height: 48px;
       cursor: pointer;
       background: url(imagin/WB_logo.png) no-repeat 0 40%;
       position: fixed;
       top: 0;
       left:290px;
}
#search{
        position: absolute;
        top: 0;
        left: 450px;
        width: 425px;
        padding: 4px 33px 4px 10px;
        height: 20px;
        background:#f2f2f5;
        margin-top:10px;
        border:1px;
        color: #808080; 
        outline-style: none;
        line-height: 20px;
        box-shadow: none;
        border: 1px solid #D0D0D0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;    
}
#search:focus {
               border: 1px solid #eb7350;
}
@font-face {
	    font-family: 'wbficonregular';
	    src: url('wbficon.woff'); 
}
#shousuo {
          position: absolute;
          top: 12px;
          left:890px;
          font-size: 18px;
}
.tubiao:hover{
              color:#eb7350;
}
.tubiao{
        font-family: "wbficonregular" ;
        height: 26px;
        line-height: 26px;
        white-space: nowrap;
        font-size: 24px;
        width: 20px;
        text-decoration:none;
        color:#696e78;
}
.shangbuwenzi {
               font-size:14px;
               font-family: "Microsoft Yahei";
               position:relative;
               top:-4px;
}
#tubiao1 {
          position: absolute;
          top:12px;
          left:1160px;
}
#tubiao2 {
         position: absolute;
         top:12px;
         left:1240px;
}
#tubiao3 {
         position: absolute;
         top:12px;
         left:1320px;
}
#tubiao4 {
          position: absolute;
          top:12px;
          left:1400px;
}
#tubiao5 {
          float: left;
          display: inline;
          position: absolute;
          top:12px;
          left:1490px;
          font-size:14px;
          font-family: "Microsoft Yahei"; 
          margin:0 10px 0 0;
          padding:0px 23px 0px 0px;         
}
#tubiao6{
          float:left;
          display: inline;
          position: absolute;
          top:12px;
          left:1550px;
          font-size:14px;
          font-family: "Microsoft Yahei";
          margin:0 2px;
}
body {
      background-color: #280e0a;
      display:block;
}
#all {
      background-image: url(imagin/body_bg_page.jpg);
      padding-top: 50px;
      background-repeat: no-repeat;
      background-position: center 0;
      
}
#yinyue{
        padding:0px 0 20px 0;width:100%;max-width:85px;position:fixed;
        right:250px;
        top:891px;
}
.photo{
       width:100px;
       height:100px;
       border-radius:50%;
}
#username1 {
            letter-spacing:normal;
            color: #fff;
            text-align:center;
            text-shadow: 0 0 4px rgba(0,0,0,0.5);
            vertical-align:text-bottom;
            margin-top: 6px;
}
#dingbutouxiang {
                 position: relative;
                 width:100px;
                 height:100px;
                 margin:65px auto 0;
                 padding:4px;
                 background:#fff;
                 background:rgba(255,255,255,0.3);
                 border-radius: 50%;
}
#username2 {
            font-size:22px;
            display:inline;
            margin-top: 6px;
            font-family: "Microsoft Yahei";
            font-weight: normal;
            z-index:100px;
}
#tubiao7 {
          width: 16px;
          height: 16px;
          vertical-align: -2px;
          display:inline-block;
          background-image: url(imagin/icon.png?id=164820170915);
          background-repeat: no-repeat;
          background-position: -100px -50px;
          margin-right:2px;
}
.dengji {
          display:inline-block;
          background-image: url(imagin/icon.png?id=164820170915);
          background-repeat: no-repeat;
          background-position: -25px -125px;
          width:16px;
          height:14px;
}
#fuming {
         margin-top: 4px;
         text-align: center;
         color: #fff;
         line-height: 18px;
         text-shadow: 0 0 4px rgba(0,0,0,0.5);
         letter-spacing: normal;
         font-size: 12px;
         
}
#fuming,#tubiao8,#tubiao11,#tubiao13,#tubiao14{
                                               letter-spacing: normal;
                                               word-spacing: normal;
                                               vertical-align: top;
                                               font-size: 12px;
                                               font-family: "Microsoft Yahei";
                                               font-weight: normal;
}
#dingbuguanzhu {
                margin-top: 15px;
                text-align: center;
}
#tubiao8 {
          width: 100px;
          padding: 0; 
          line-height: 31px;
          color: #fff;
          box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
          background: -webkit-linear-gradient(top, #fa7d3c 0%,#f55f10 100%);
          display: inline-block;
          text-decoration:none;
}
#tubiao8:hover,{
                background: #f4722e;
}
#tubiao9 {
          font-size:18px;
          font-weight:900;
}
.tubiao10{
           font-size:14px;
}
#tubiao11 {
           width: 100px;
           padding: 0; 
           line-height: 33px;
           color: #fff;
           box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
           background: -webkit-linear-gradient(top, #696e78 0%,#646973 100%);
           display: inline-block;
           text-decoration:none;
           margin-left:7px;
}
#tubiao11:hover,#tubiao12:hover{
                                 background: #5f636d;
}
#xian {
       border-right:1px solid #d9d9d9;
       width:10px;
       height:14px; 
       position: absolute;
       top:17px;
       left:1525px; 
       float: left;
       display: inline;
       font-size:14px;
       font-family: "Microsoft Yahei";  
}
#tubiao12 {
           width:34px;
           padding: 0; 
           line-height: 33px;
           color: #fff;
           box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
           background: -webkit-linear-gradient(top, #696e78 0%,#646973 100%);
           display: inline-block;
           text-decoration:none;
           margin-left:7px;
           font-family: "wbficonregular" !important;
}
#baisebeijing{
              background-color: #fff;
              letter-spacing: normal;
              height: 39px;
              
              text-align:center;
              font-size:15px;
			  width:920px;
			  margin: 38px auto 16px auto;
}
#tubiao13,#tubiao14{
                    display: inline-block;
                    text-decoration:none;
                    font-size:14px;
                    margin-top:10px;
                    color:#333;

}
#tubiao13{
          margin-right:145px;
          font-weight: bold;
          border-bottom: 2px solid #eb7350;
          padding:0 8px 9px 8px;
          color:#333;
                   
}
#tubiao14:hover{
                border-bottom: 2px solid #eb7350;
                padding-bottom:9px;
                color:#333;
                margin-left:50px;
                padding:0 8px 9px 8px;                  
}
#tubiao14{
          margin-left:50px;
          padding:0 8px 9px 8px;

} 
#zuo1  {
	    width: 920px;
		margin: 0 auto;
		overflow:hidden;
}
#zuo2 {
	   width: 300px;
	   float:left;
}
#zuo3 {
	   width: 100%;
       padding: 12px 0;
	   background:#fff;
	   height:35.2px;
}
#zuo4 {
	   width: 100%;
       margin-left: -1px;
       line-height: 14px;
       text-align: center;
       table-layout: fixed;
}
#zuo4 td {
	      border-left-width: 1px;
          border-left-style: solid;
		  border-color: #d9d9d9;
}
.zuotu {
	    color: #333;
		font-size: 18px;
		margin-bottom:6px;
		font-family: Tahoma;
}
.quxiahua {
	       text-decoration:none;
		   color:#333;
}
.zuotu:hover{
             color: #f4722e;
}
#zuotu2 {
	     margin-bottom: 16px;
		 background-color: #fff;
		 width:300px;
		 margin-top:16px;
}
#zuotu3 {
	     display: block;
         height: 30px;
         padding: 13px 0 12px;
         border-top-width: 1px;
         overflow: hidden;
         line-height: 30px;
         margin-left:16px;
         margin-right:16px;	 
}
#quxiahua2 {
	        text-decoration:none;
		    color:#333;
			line-height: 30px;
			font-size: 14px;
			float:left;
}
.icon {
	    float: left;
		margin-right:10px;
}
#zuotu3 em{
	       font-family: "wbficonregular" ;
		   float:right;
		   color: #696e78;
		   margin: -1px 0 0 9px;
		   font-style:normal;
}
#zuotu4 {
	     float:right;
		 color: #696e78;
}
#quxiahua2:hover{
                 color: #f4722e;
}
#zuotu5 {
	     width:300px;
		 height:240.2px;
		 background:#fff;
		 margin-top:16px;
}
.zuotu6 {
	     width:268px;
		 height:169.4px;
		 padding:15px;
}
::selection {
    background: #eb7350;
    color: #fff;
}
#zuotu7 {
	     margin-bottom: -1px;
		 list-style:none;
		 height:188.4px;
		 width:268;
}
.zuotu8 {
         border-bottom-style: solid;
         border-width:0 0 1px 0;
         line-height: 18px;
		 border-color: #f2f2f5;
		 height:18.6px;
		 padding-bottom:5px;
}
.zuotu9 {
	     width: 25px;
		 float: left;
		 color: #696e78;
		 font-family: "wbficonregular";
		 font-style: normal;
         font-weight: normal;
		 display:inline;
}
.zuotu10{
	      background-color: #fe7e00;
		  width: 25px;
          line-height: 14px;
          text-align: center;
          display: inline-block;
          border-radius: 8px;
          padding: 0px 5px 0 3px;
		  text-decoration: none;
}
.zuotu10 span{
	          font-size: 12px;
              color: #fff;
              font-style: italic;
              letter-spacing: -0.1em;
}
#zuotu11 {
	      width: 243px;
          margin-top: 2px;
		  height:17.6px;
		  float: left; 
}
.zuotu12 {
         border-bottom-style: solid;
         border-width:0 0 1px 0;
         line-height: 18px;
		 border-color: #f2f2f5;
		 height:18.6px;
		 padding-bottom:5px;
		 padding:7px 0 5px 0;
}
.zuotu13 {
         line-height: 18px;
		 border-color: #f2f2f5;
		 height:18.6px;
		 padding-bottom:5px;
		 padding:7px 0 5px 0;
}
.zuotu14 {
	      display: block;
          height: 35px;
          line-height: 35px;
          text-align: center;
          border-top-style: solid;
          border-top-width: 1px;
		  border-color: #d9d9d9;
		  margin-top:5px;
		  text-decoration:none;
		  color:#333;
}
.zuotu15:hover {
                color: #f4722e;
}
.zuotu16 {
	      width: 25px;
		  font-family: "wbficonregular";
		  font-style: normal;
          font-weight: normal;
		  display:inline;
}
#zuotu16 {
		  background:white;
		  margin-top:16px;
}
.zuotu17 {
	      border-bottom-style: solid;
          border-bottom-width: 1px;
		  border-color: #f2f2f5;
		  padding: 0 16px;
		  line-height: 38px;
}
.zuotu18 {
	      color: #333;
          text-decoration: none;
}
.zuotu19 {
	      font-size: 14px;
		  font-weight: 700px;
}
#zuotu20 {
	      padding: 16px;
		  height:233.2px;
		  width:268px;
}
.zuotu19:hover {
                color: #f4722e;
}
.zuotu21 {
	      padding: 0 0 20px 0;
		  border-bottom-style: solid;
          border-bottom-width: 1px;
          margin-bottom: -1px;
		  border-color: #f2f2f5;
		  height:100.8px;
		  width:268px;
}
.zuotu22 {
	      margin-top: -2px;
		  margin-bottom: 10px;
		  height:17.6px;
		  width:268px;
} 
.zuotu23 {
	      font-size: 14px;
		  font-weight: 700;
		  color:#333;
		  text-decoration: none;
}
 .zuotu23:hover {
                color: #f4722e;
}
.zuotu24 {
	      margin: -5px 0 0 -22px;
		  list-style: none;
} 
.zuotu24 li {
	         margin: 5px -3px 0px 22px;
			 display:inline-block;
			 width:50px;
			 height:75.2px;
}
.zuotu24 li div {
	             height:75.2px;
				 width:20px;
}
.zuotu24 li div span a img{
	                       border-radius: 50%;
                           text-align: center;
                           display: block;
                           overflow: hidden; 
                           white-space: nowrap;				   
}
.zuotu24 li div p {
	               width: 50px;
                   padding: 11px 0 0 3px;
                   white-space: nowrap;
                   overflow: hidden;
                   text-overflow: ellipsis;
}
.zuotu24 li div p a {
	                 color:#333;
		             text-decoration: none;
}
.zuotu24 li div p a:hover {
	                       color: #f4722e;
}
.zuotu26 {
	      background-position: -50px -50px;
		  width: 20px;
          height: 20px;
		  display: inline-block;
          background-image: url(imagin/icon.png);
          background-repeat: no-repeat;
		  border-radius: 50%;
          box-shadow: 0 0 4px rgba(0,0,0,0.3);
          vertical-align: -2px;
}
.zuotu24 li div span {
	                  width:50px;
					  height:50px;
                      display: inline-block;
                      position: relative;
                      margin-bottom:-5px;					  
}
.zuotu24 li div a img {
	                   border-radius: 50%;
                       text-align: center;
                       display: block;
                       overflow: hidden; 
                       white-space: nowrap;				   
}
.zuotu27 {
	      position: absolute;
          right: 0px;
          bottom: 0;
}
#zuotu28 {
	      padding-top:16px;
}
#zuotu29 {
	      padding-bottom:35px;
		   border-bottom-style: none;
}
#zuotu30 {
		  background:white;
		  margin-top:16px;
}
#viewer1 {
	      padding: 6px;
		  margin: 0 -6px -6px 0;
		  list-style: none;
}
.zuotu32 {
	      float: left;
		  margin: 0 6px 6px 0;
		  border: 0;
}
#zuotu35 {
	            width:190px;
				height:190px;
				border: 0;
}
.zuotu33 {
	       width:92px;
		   height:92px;
		   border-width: 0px;
}
#zuotu34 {
	       height:307px;
		   width:300px;
}
#zuotu36 {
	      width:300px;
		  height:276.6px;
		  background-color:white;
		  margin-top: 16px;
}
#zuotu37:hover {
                color: black;
}
#zuotu38 {
	      padding: 6px;
}
.zuotu39 {
	      margin-top:0;
		  padding: 6px 8px;
		  background-color: #f2f2f5;
		  height: 81px;
		  width:180px;
		  float:left;
}
.zuotu40 {
	      width:288px;
		  height:92px;
		  cursor: pointer;
		  margin-bottom:6px;
}
.zuotu41 {
	      margin-bottom: 5px;
          font-size: 14px;
          font-weight: bold;
          line-height: 16px;
}
#zuotu42:hover{ 
               color: #f4722e;
}
#zuotu43:hover{
	           color: #f4722e;
}
#zuotu43 {
	      float:left;
		  line-height: 18px;
		  font-size: 12px;
		  font-weight:normal;
		  margin-top:3px;
}
.zuotu44 {
	      font-size: 12px;
		  font-weight:normal;
		  margin-top:3px;
}
#zuotu45 {
	      float:left;
}
#zuotu46 {
		  background-color:white;
		  margin-top:16px;
}
#zuotu47 {
	      float:right;
		  border:none;
}
#zuotu48 {
	      display:inline;
}
#zuotu49 {
	      vertical-align: middle;
		  margin-right: 6px;
          font-size: 14px;
}
#tubiao8:hover{
	           background:#f4722e;
}
#zuotu47:hover {
	            color: #eb7350;
}
.zuotu50 {
	      padding: 10px 16px 8px;
          border-bottom-width: 1px;
          border-bottom-style: solid;
		  border-color: #d9d9d9;
}
.zuotu50:hover {
	            background-color: #f2f2f5;
}
.zuotu52 {
	      border-width: 1px;
          border-style: solid;
          box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
		  width: 58px;
		  height:20px;
          padding: 0;
		  border-color: #d9d9d9;
		  background-color:#fff;
		  float:right;
}
.zuotu53 {
		  font-family: "wbficonregular";
		  font-style: normal;
          font-weight: normal;
		  display:inline;
		  margin: 0px 4px 0px 6px;
          vertical-align: top;
		  color:#f4722e;
}
.zuotu52 a {
	         text-decoration:none;
			 width:63px;
			 height:20px;
			 display:block;
			 padding:3px 0 0 0px;
}

.zuotu52 a span {
	             color:#333;
			     font-style: normal;
                 font-weight: normal;
		         display:inline;
			     vertical-align: top;
}
.zuotu54 {
	      float: left;
          width: 30px;
          height: 30px;
          margin: 0 10px 3px 0;
}
.zuotu54 a img {
	            border-radius: 50%;
				overflow: hidden;
                white-space: nowrap;
				display:block;
				width: 30px;
                height: 30px;
}
.zuotu55 {
	      font-weight: bold;
		  text-decoration:none;
		  color:#333;
}
.zuotu55:hover {
	            color: #f4722e;
}
.zuotu56 {
	      text-decoration:none;
		  color:#808080;
		  display:block;
		  margin-top:2px;
}
.zuotu56:hover {
	            color:#f4722e;
}
.zuotu57 {
	      margin: 0 0 6px;
          padding: 2px 0 0;
          overflow: hidden;
          clear: both;
          line-height: 18px;
          word-wrap: break-word;
}
.zuotu57 img {
	          vertical-align: -6px;
}
.zuotu58 {
	      margin: 6px 0 8px;
          overflow: hidden;
		  width:267.2px;
}
.zuotu58 ul {
	         list-style: none;
			 
}
.fangda {
	     width:128.4px;
	     height:96.4px;
		 margin-left:3px;
}
.zuotu58 ul img{
	            width:128.4px;
	            height:96.4px;
		        margin-left:3px;
				cursor:zoom-in;
}
.zuotu59 {
	      width:267.2px;
		  height:16px;
		  margin:3px 0;
}
.zuotu59 div {
	          width:220.8px;
			  height:16px;
			  float:right;
			  margin-bottom:3px;
}
.zuotu59 div ul {
	             width:220.8px;
			     height:16px;
				 margin-left:25px;
}
.zuotu59 div ul li {
	                float: left;
					display: block;
                    margin: 4px 0;
                    padding: 0px 3px;
                    border-right-width: 1px;
                    border-right-style: solid;
                    line-height: 12px;
					border-color: #d9d9d9;
}
#zuotu60 {
	      border:0;
}
.zuotu61 {
	      margin-left: 4px;
          font-size: 15px;
          vertical-align: top;
		  font-style: normal;
          font-weight: normal;
		  font-family: "wbficonregular"; 
          display: inline-block;
}
.zuotu62 {
	      margin-left: 2px;
		  margin-right:5px;
          font-style: normal;
          font-weight: normal;
}
.zuotu59 div ul li a {
	                  text-decoration:none;
					  color:#808080;
}
.zuotu59 div ul li a:hover {
	                        color:#f4722e;
}
.zuotu57 a{
	       color:#f4722e;
}
.zuotu50 {
	      border-bottom-width: 1px;
          border-bottom-style: solid;
		  border-color: #d9d9d9;
		  
}
#zuotu63  {
	       height:676px;
		   width:300px;
		   overflow:scroll;
		   overflow-x: hidden;
		   cursor:pointer;
}
#zuotu63::-webkit-scrollbar { 
                             width: 5px;
							 height: 40.7172%;
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal {
                                                                 border-radius: 6px;
                                                                 background: #808080;
}
 
::-webkit-scrollbar-button {
                            display: none;
} 
a {
   text-decoration:none;
}
#zhongjian1 {
	         float:right;
			 width:600px;
			 margin:0px 0px 16px 16px;
}
.zhong2 {
		 background:white;
		 margin-bottom: 10px;
}
.zhong3 {
	     padding: 20px 20px 4px;
}
.zhong4 {
	      float: left;
          width: 50px;
          height: 50px;
          margin: 0 10px 3px 0;
}
.zhong4 a img {
	            border-radius: 50%;
				overflow: hidden;
                white-space: nowrap;
				display:block;
				width: 50px;
                height: 50px;
}
#zhong5 {
		 font-size: 14px;
		 font-weight: 700;
		 vertical-align: top;
}
#zhong6 {
	     margin-left:3px;
		 vertical-align: top;
		 line-height:25px;
}
#zhong7 {
	     line-height:25px;
		 float:left;
		 display: inline;
}
.zhong8 {
	     float:left;
		 line-height:25px;
		 color: #808080;
		 margin-top:2px;
}
#zhong10 {
	      float:right;
		  border:none;
		  padding-bottom:10px;
		  width:41px;
		  height:26px;
		  margin-top:-15px;
		  margin-left:10px;
}
#zhong11 {
	      width:41px;
		  height:26px;
		  font-size: 18px;
		  color: #696e78;
}
#zhong12 {
	      width:46px;
		  height:22px;
}
#zhong12 a {
	        width:50px;
		    height:22px;
}
#zhong13 {
	      margin-right:0px;
		  margin-left:2px;
}
.zhong14 {
	     margin-top:30px;
		 line-height:23px;
		 margin-bottom:2px;
		 font-size: 14px;
		 padding-left:58px;
}
#zhong15 {
	      margin-left:58px;
		  width:400px;
}
#zhong15 ul li img {
					margin:4px 0 0 4px;
					overflow:hidden;
					width:108px;
					height:108px;
}
.zhong16 {
	      width:100%;
		  height:38.8px;
		  margin-top:10px;
		  border-top-width: 1px;
          border-top-style: solid;
		  border-color: #f2f2f5;
}
.zhong16 ul li {
			    display: block;
				float: left;
				width:23.5%;
				height:38px;
                margin: 4px 0;
                padding: 0px 3px;
                line-height: 12px;
			    
}
.zhong16 ul{
	        width:100%;
			height:38px;
}
.zhong16 ul li span {
	                 border-right-width: 1px;
                     border-right-style: solid;
					 border-color: #d9d9d9;
					 display: block;
                     height: 22px;
                     margin: 7px 0;
                     line-height: 22px;
					 text-align:center; 
					 
}
#zhong17 {
	      border:none;
}
.zhong16 ul li span a {
	                   color:#808080;
}
.zhong16 ul li span a:hover {
	                         color:#f4722e;
}
#zhong11:hover {
	            color:#f4722e;
}
.zhong18 {
	      font-family: "wbficonregular";
          display: inline-block;
		  font-style: normal;
          font-weight: normal;
		  margin: 0 1px 0 7px;
		  font-size: 14px;
}
.zhong14 a {
	        color:#eb7350;
}
.zhong3 iframe {
	            margin-left:57px;
}
.zhong19 {
	      margin:5px 0 0 60px;
		  width:165px;
		  height:165px;
}
#zhong20 {
	      
}
#zhong21 {
	      background: white;
          margin-bottom: 10px;
		  text-align: center;
          white-space: nowrap;
		  padding-right:30px;
}
#zhong20 a {
	        letter-spacing: normal;
            word-spacing: normal;
            padding: 8px 0px;
            margin: 0 0px 0;
            line-height: 20px;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
			font-size:12px;
			color: #333;
} 
.zhong22 {
	      font-family: "wbficonregular";
          display: inline-block;
		  font-style: normal;
          font-weight: normal;
		  margin: 0 0px 0 7px;
		  font-size: 12px;
		  padding-right:30px;
}
#zhong20 a:hover{
	              color: #f4722e;
}
#zhong22 {
	      letter-spacing: normal;
          word-spacing: normal;
          padding-left:30px;
          line-height: 20px;
          display: inline-block;
          text-align: center;
          vertical-align: middle;
		  font-size:12px;
		  color: #333;
		  border-left-width: 1px;
          border-left-style: solid;
		  border-color: #d9d9d9;
}
#zhong22:hover {
	            color: #f4722e;
}
#you1 {
	     left: 50%;
         margin-left: 470px;
         width:94px;
         height:213.8px;
         top: 372px;
         position: absolute;	 
}
ul {
	list-style:none;
}
.you2 {
	   margin-top: 3px;
}
.you3 {
	   padding: 0;
       opacity: 1;
	   display: inline-block;
       height: 26px;
       line-height: 26px;
	   text-decoration: none;
       border-left-width: 4px;
       border-left-style: solid;
	   color: #e27b48;
       border-left-color: #e27b48;
	   width: 38px;
}
#you4 {
	   color: #fff;
	   background-color: #e27b48;
	   font-style:normal;
	   width:41px;
	   display: inline-block;
	   padding: 0 0 0 5px;
       opacity: 1;
       border-radius: 0 3px 3px 0;
}
.you5 {
	   
}
em {
	font-style:normal;
}
#you6 em {
	      width:41px;
	      display: inline-block;
	      padding: 0 0 0 5px;
}
#you6 {
	   opacity: 0.6;
}
#you6:hover {
	         opacity: 1;
}
#you7 {
	   width: 85px;
       position: relative;
       border: none;
       padding: 0 0 8px 9px;
       line-height: 10px;
	   display: inline-block;
       height: 26px;
	   opacity: 0.6;
}
#you7 em {
	      display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: -1px;
          overflow: hidden;
          padding: 0;
          margin: 0;
		  background-color: #e27b48;
}
#you8 {
	   width: 85px;
       position: relative;
       border: none;
       padding: 0 0 8px 0px;
       line-height: 10px;
	   color:#e27b48;
}
#you7:hover{
	        opacity: 1;
}
#btn {
	  margin-left: 460px;
	  visibility: visible;
      transform: translateZ(0px);
      position: fixed;
      top: auto;
      bottom: 40px;
	  background-image:url(imagin/gotop.png);
	  height: 100px;
      background-repeat: no-repeat;
      background-color: transparent;
	  left: 50%;
      z-index: 101;
	  display: block;
      width: 40px;
	  padding-top: 5px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.6;
}
#btn:hover{
	       opacity:1;
}
#xia2 {
	   width: 840px;
       margin: 0 auto;
       padding:20px 0 10px 80px;
	   clear: both; 
}
.xia3 {
	   float:left;
       margin: 0 50px 0 0;
	   display:inline;
}
.xia4 {
	   font-size: 16px;
       padding: 0 0 15px;
       white-space: nowrap;
       width: 138px;
       overflow: hidden;
}
.xia5 {
	   width: 60px;
       overflow: hidden;
	   color: #808080;
	   display: inline-block;
       margin: 0 8px 5px 0;
}
.xia5:hover {
	         color: #eb7350;
}
#xia6 {
	   float: left;
       margin-right: 10px;
	   width: 79px;
       overflow: hidden;
	   display: inline-block;
       margin: 0 20px 5px 0;
}
.clearfix:before, .clearfix:after { 
								   content: "\0020"; 
								   display: block; 
								   height: 0; 
								   overflow: hidden;
}  
.clearfix:after { 
                 clear: both; 
}
#xia7 {
	   width:109px;
}
#xia8 {
	   text-align: center;
       padding: 20px 0 45px;
	   background-color: #f2f2f5;
}
.xia9 {
	   line-height: 1em;
       margin-bottom: 10px;
}
.weibotu {
	      background-position: -50px -300px;
          width: 16px;
          height: 16px;
          vertical-align: text-top;
          margin-right: 3px;
		  display: inline-block;
		  background-repeat: no-repeat;
		  background-image: url(imagin/icon.png);
}
.xia10 {
	    color: #808080;
        text-decoration: none;
		margin-right: 20px;
}
.xia10:hover {
	          color: #eb7350;
}
.xia11 {
	    margin-right: 20px;
		color: #808080;
}
#xia12 {
	    margin-left: 10px;
		font-size:12px;
}
#xia13 {
	    margin-left: 10px;
}
#xia14 {
	    background-position: -100px -300px;
		width: 20px;
        height: 20px;
}
.denglu1 {
	      border-bottom: 1px solid #f2f2f2;
}
.denglu2 {
          font-weight: bold;
		  font-size: 16px;
          display: inline-block;
          padding-bottom: 10px;
          width: 185px;
          text-align: center;
          border-bottom: 3px solid #f7691d;
          color: #333;
}
.denglu3 {
	      font-weight: normal;
		  font-size: 16px;
		  display: inline-block;
          padding-bottom: 10px;
		  width: 181px;
          text-align: center;
		  color: #333;
}
#denglu4 {
	      margin: 0 auto;
		  padding-top: 30px;
		  width: 230px;
}
.denglu5 {
          border: 1px #ccc solid;
          padding-left: 30px;
		  background: url(imagin/icon_input.png) no-repeat;
		  margin-bottom: 10px;
          display: block;
		  height:28px;
}
.searchall{
	       border: none;
		   width: 198px;
		   color: #808080;
		   outline:none;
		   height:28px;
		   font-family: inherit;
           font-size: inherit;
           font-weight: inherit;
}
.orange {
	     border: 1px solid #eb7350;
}
#kuang1 {
	     background-position:0 -30px;
}
.denglu6 {
	      margin-bottom: 10px;
          display: block;
		  color: #808080;
}
#denglu7 {
	      display: inline-block;
          vertical-align: middle;
}
#denglu8 {
	      margin-left: 0px;
		  display: inline-block;
          vertical-align: middle;
}
#denglu9 {
	      margin-left: 82px;
}
#denglu10 {
	       color: #808080;
}
#denglu10:hover {
	             color: #eb7350;
}
.denglu11 {
	       margin: 16px 0;
}
#denglu12 {
	       background: #ff8140;
           border: 1px solid #f06923;
		   width: 200px;
		   display: inline-block;
           height: 34px;
           line-height: 35px;
           padding: 0 15px;
           font-size: 14px;
}
#denglu12 em {
	          color: #fff;
}
#denglu12:hover {
	             background: #f7671d;
}
#denglu13 {
	       width: 200px;
		   background-color: #fff;
		   display: inline-block;
           height: 34px;
           line-height: 35px;
           padding: 0 15px;
           font-size: 14px;
		   border-width: 1px;
           border-style: solid;
           box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
		   border-color: #d9d9d9;
}
#denglu13 i {
	         display: inline-block;
             vertical-align: middle;
			 width: 15px;
             height: 16px;
			 background-image:url(imagin/icon_qq.png);
}
#denglu13 em {
	          color:#333;
}
#denglu13:hover {
	             border-color: #cccccc;
}
#denglu14 {
	       margin-top: 15px;
		   text-align: center;
}
.denglu15 {
	       margin-left: 10px;
           margin-right: 10px;
		   color: #333;
}
.denglu15:hover {
	             color: #f7671d;
}
.guan {
	   position: absolute;
       z-index: 2;
       right: 12px;
       top: 9px;
       font-size: 18px;
	   color: #696e78;
	   font-family: "wbficonregular" !important;
       display: inline-block;
       -webkit-font-smoothing: antialiased;
}
.guan:hover {
              color:#eb7350;	    
}
#denglu16 {
	       position: relative;
           width: 189px;
           height: 218px;
           margin: 0 auto;
           margin-top: 18px;
           padding: 15px 13px 0 13px;
           border: 1px solid #f3f3f3;
           box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
           text-align: center;
}
#denglu17 {
	       margin-top: 8px;
           font-size: 16px;
		   color: #333;
}
#jieshao {
	      position: absolute;
          top: 0px;
          left: -135px;
          width: 264px;
          height: 372px;
          background-image: url(imagin/sprite_login.png);
          background-repeat: no-repeat;
          background-position: -300px -150px;
		  display:block;
}
#kuang2 {
	     background-position: 0 -59px;
}
.denglu4 {
	      margin: 0 auto;
		  width: 230px;
		  margin-bottom: 10px;
}
#denglu18 {
	       width: 117px;
           height: 28px;
           line-height: 29px;
           padding: 0;
           margin-right: 15px;
           background: #f3f3f3;
		   border-color: #d9d9d9;
		   color: #333;
		   border-width: 1px;
           border-style: solid;
           box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
		   white-space: nowrap;
           display: inline-block;
           border-radius: 2px;
		   font-size: 12px;
           min-width: 40px;
           text-align: center;
           outline: none;
}
#search4 {
		  width: 80px;
		  border:1px solid;
		  padding-left: 6px;
		  border-color: #cccccc;
}
#denglu19 label {
	             margin-right:136px;
}
#tubiaojia2 {
	            width: 100%;
                margin: 0;
                font-size: 17px;
                vertical-align: top;
				font-family: "wbficonregular";
                display: inline-block;
                -webkit-font-smoothing: antialiased;

}
#tubiaojia1 {
	         padding: 0;
             line-height: 32px;
             color: #fff;
             box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
             background: -webkit-linear-gradient(top, #fa7d3c 0%,#f55f10 100%);
             display: inline-block;
             text-decoration: none;
			 width: 24px;
			 margin-left:2px;
			     white-space: nowrap;
}
#tubiaojia1:hover {
	               background: #f4722e;
}
#music {
	    position: fixed;
        bottom:25px;
        left: 0;
        z-index: 9999;
        background: rgba(0, 0, 0, 0.6);
}
#music2 {
	     top: 19px;
         left: 20px;
         width: 15px;
         height: 18px;
         background-position: -65px -160px;
		 position: absolute;
         z-index: 2;
		 display: inline-block;
         background-image: url(imagin/ico_btn_player.png);
         background-repeat: no-repeat;
         background-color: transparent;
}
#music3 {
	     position: absolute;
         top: 0;
         left: 0;
         background: rgba(0, 0, 0, 0.6);
         z-index: 1;
		 display: block;
         width: 50px;
         height: 50px;
}
#music4 {
	     display:none;
		 position: fixed;
         bottom:0px;
         left: 0;
         z-index: 9999;
}
#guan2 {
	    position: fixed;
        bottom: 420px;
        left: 300px;
	    color: #696e78;
	    font-family: "wbficonregular" !important;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
		z-index:9999;
		display:none;
}
#search4:focus {
	            border: 1px solid #eb7350;
}
.zhuanfa1 {
	       border-bottom: 1px solid #f2f2f5;
           line-height: 38px;
           font-size: 14px;
           font-weight: 700;
           padding: 0 0 0 16px;
           vertical-align: middle;
		   text-align:left;
}
.zhuanfa3 {
	       padding: 16px 0 0;
}
.zhuanfa4 {
	       margin: 0 16px 10px;
           text-align: left;
}
.zhuanfa5 {
	       float: left;
           width: 50px;
           line-height: 30px;
           text-align: right;
}
.zhuanfa6 {
	       border-color: #d9d9d9;
		   background-color: #f2f2f5;
		   display: inline-block;
           border-left-style: solid;
           border-left-width: 1px;
           overflow: hidden;
           font-size: 12px;
}
.zhuanfa7 {
	       border-color: #d9d9d9;
		   display: inline-block;
           float: left;
           height: 28px;
           border-style: solid;
           border-width: 1px;
           border-left: none;
		   text-align: center;
}
.zhuanfa8 {
		   color: #333;
		   display: block;
           width: 88px;
           height: 27px;
           line-height: 28px;
           white-space: nowrap;
           overflow: hidden;
}
.font:hover {
	         color: #eb7350;
}
.zhuanfa10 {
	        color: #333;
			display: block;
            width: 88px;
            height: 27px;
            line-height: 28px;
            white-space: nowrap;
            overflow: hidden;
}
#zhuanfa11 {
	        margin: 0 0 0 3px;
            vertical-align: -3px;
		    background-position: -50px -150px;
		    display: inline-block;
            background-image: url(imagin/icon.png);
            background-repeat: no-repeat;
		    font-style: normal;
            font-weight: normal;
			width: 16px;
            height: 16px;
}
#zhuanfa12 {
	        position: relative;
			margin: 0 0 5px;
}
.zhuanfa13 {
	        height: 48px;
            margin: 0px;
            padding: 5px 6px 25px;
            font-size: 12px;
            word-wrap: break-word;
            line-height: 18px;
            overflow: hidden;
            outline: none;
			width: 464px;
			font-family: inherit;
			font-weight: inherit;
			resize: none;
}
.zhuanfa14 {
	        border-style: solid;
            border-width: 1px;
			border-color: #cccccc;
}
 #info{
	   color: #808080;
	   position: absolute;
       right: 10px;
       bottom: 10px;
       line-height: 10px;
	   font-weight: inherit;
	   font-style: normal;
}
.zhuanfa15 {
	        float: left;
            margin: -4px 5px 0 0;
}
.zhuanfa16 {
	        cursor: pointer;
			font-family: "wbficonregular" !important;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
			font-size: 20px;
			vertical-align: middle;
			color: #ffa405;
			font-style: normal;
            font-weight: normal;
}
#zhuanfa17 {
	        padding-left: 16px;
			padding-right:16px;
}
#zhuanfa18 {
	        color:#84c002;
}
#zhuanfa19 {
	        float: left;
            margin: 1px 0 0;
            padding: 0 0 4px;
}
#zhuanfa20 {
	        margin: 0 0 5px;
}
#zhuanfa20 label input {
	                    vertical-align: middle;
                        margin-right: 0px;
						margin-left:3px;
}
#zhuanfa20 label span {
	                    vertical-align: middle;
}
#zhuanfa21 {
	        padding: 0 0 10px;
			float: right;
}
#zhuanfa22 {
	        display: inline-block;
            margin: 5px 8px 0 0;
			color: #333;
}
.zhuanfa23 {
	        display: inline-block;
            width: 62px;
            cursor: pointer;
            text-align: right;
			overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
}
.zhuanfa24 {
	        margin: 0 0 0 2px;
            vertical-align: 4px;
			color: #696e78;
			font-family: "wbficonregular" !important;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
			cursor: default;
            opacity: 0.5;
			font-style: normal;
            font-weight: normal;
}
.zhuanfa25 {
	        vertical-align: top;
			background: #ff8140;
            border: 1px solid #f77c3d;
			box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
			padding: 0 10px 0 10px;
            white-space: nowrap;
            display: inline-block;
            border-radius: 2px;
            height: 24px;
            line-height: 25px;
            text-decoration: none;
            font-size: 12px;
            min-width: 40px;
            text-align: center;
            outline: none;
			color: #fff;
}
.background {
	         background-color: #fff;
			 border-bottom:2px solid #fa7d3c;
			 font-weight: bold;
}
.zhuanfa25:hover{
	             background: #f7671d;
}
.yichu {
	     display:none;
}
#test1 {
	    width:420px;
        line-height: 18px;
        height: 23px;
        padding: 5px 0 0 5px;
}
#test2 {
	    width:420px;
        line-height: 18px;
        height: 56px;
        padding: 5px 0 0 2px;
}
#zhuanfa30 {
	        margin-left:65px;
			margin-bottom:10px;
}
#zhuanfa31 {
	      color: #696e78;
		  margin-left: 11px;
		  margin-right: 11px;
		  cursor: default;
          opacity: 0.5;
}
#zhuanfa32 {
	        margin-right:15px;
}
.huifu {
	    display:block;
}
#zhuanfa33 {
	        color: #696e78;
		    margin-right: 11px;
		    cursor: default;
            opacity: 0.5;
}
#viewer7 {
	      cursor:zoom-in;
}
#viewer8 {
	      cursor:zoom-in;
}
#viewer9 {
	      cursor:zoom-in;
}
.xianshi1 {
	       background:white;
		   vertical-align:center;
		   line-height:23px;
		   width:104px;
		   border:none;
		   height: 34px;
           line-height: 35px;
		   font-size: 14px;
		   text-align:left;
}
.xianshi1:hover {
	             background:#f2f2f5;
}
#xianshi {
	       border-radius: 4px;
		   position:relative;
		   top:0px;
		   right:38.8%;
		   z-index:100000;
		   box-shadow: 0 0 1px 0px rgba(0,0,0,0.3), 0 0 6px 2px rgba(0,0,0,0.15);
		   float:right;
		   display:none;
}
.xianshi1 a{
	        margin-left:12px;
			color:#333;
}
.xianshi1:hover {
	             cursor:pointer;
}
#xia12:focus {
    outline:none;
}
#xia12:focus {
               outline:1px solid #eb7350;
}
#zuo21 {
	    width: 300px;
	    float:right;
}
#zhongjian11 {
	          float:right;
			  width:600px;
			  margin:16px 16px 0px 0px;
}
#zuo11 {
	    width: 920px;
		height:1243px;
		margin: 0 auto;
}
.zuotu461 {
		    position:absolute;
			top:475px;
}
#sixing {
	     bottom:   0px;
         right: 0px;
		 position: fixed;
		 width: 288px;
         height: 40px;
		 box-shadow: -3px -2px 8px -1px rgba(0,0,0,0.2);
         cursor: pointer;
		 background: #f0f1f4;
		 z-index:1024;
		 opacity: 0.95;
         border-radius: 2px 0px 0px 2px;
}
#sixing1 {
	      width: 18px;
          height: 16px;
          margin: 11px 16px 0 20px;
          background: url(imagin/webim_icon.png) 0 -20px no-repeat;
		  float: left;
}
#sixing2 {
	      line-height: 40px;
          color: #333;
		  float: left;
		  font-size: 14px;
		  font-style: normal;
          font-weight: normal;
}
#sixiang3 {
	       width: 38px;
           height: 36px;
           line-height: 36px;
           background: #ff8140;
           border-radius: 2px;
           margin: 2px;
           text-align: center;
           cursor: pointer;
		   float: right;
}
#sixing4 {
	       display: inline-block;
           width: 22px;
           height: 22px;
           margin-top: 8px;
           background: url(imagin/webchat_icon.png) 0 -30px no-repeat;
}
#sixing5 {
	      width: 560px;
          position: fixed;
          right: 0px;
          bottom: 0px;
          z-index: 950;
          display: block;
		  border-radius: 2px 0px 0px 2px;
		  height: 402px;
          background: #fff;
		  color: #333;
		  display:none;
}
#sixing9 {
          border-right: 1px #d9d9d9 solid;
		  float:left;
}
#sixing7 {
	      padding: 6px 5px;
          border-bottom: 1px #d9d9d9 solid;
}
#sixing8 {
	      display: inline-block;
          position: relative;
}
#search11{
           width: 107px;
           border: 1px #ccc solid;
           background: #fff;
           color: #808080;
           height: 24px;
           padding: 0 30px 0 10px;
           vertical-align: middle;
		   outline-style: none;
		   box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15) inset;
		   font-family: inherit;
           font-size: inherit;
           font-weight: inherit;
              			
}
#search11:focus {
                 border: 1px solid #eb7350;
}
#shousuo100 {
			 position: absolute;
             top: 6px;
			 left: 132px;
			 font-size: 16px;
			 z-index: 10000;
}
.tubiao100 {
	            cursor: default;
				color: #696e78;
				opacity: 0.5;
}	
.tubiao100:hover {
	              color: #696e78;
}			
#sixing11 {
	       padding: 112px 10px 0;
           text-align: left;
}
#sixing12 {
	       padding: 16px;
}
.text {
	   line-height: 25px;
	   font-size: 14px;
}
#sixing10 {
	       width: 159px;
           padding: 0;
           border-radius: 0;
           box-shadow: 0 0 0 rgba(0,0,0,0);
		   height: 318px;
}
#sixing13 {
	        height: 44px;
            line-height: 43px;
			padding: 0 10px 0 30px;
			border-top: 1px #d9d9d9 solid;
}
#sixing15{
	      color: #333;
}
#sixing14 {
	       margin-left: 18px;
           color: #696e78;
		   font-family: "wbficonregular" !important;
           display: inline-block;
           -webkit-font-smoothing: antialiased;
}
#sixing14:hover {
	             color: #eb7350;
}
#sixing15:hover {
				 color: #eb7350;
}
#sixing16 {
		   position: absolute;
		   bottom: 33px;
           z-index: 100;
           line-height: 14px;
		   background: #fff;
           color: #333;
           border: 1px solid #ccc;
           border-radius: 2px;
           padding: 2px;
		   box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.2);
		   display:none;
}
#sixing16 {
	       left: 34px;
}
#sixing16 ul li a {
	                white-space: nowrap;
					min-width: 50px;
					padding: 7px 13px;
					color: #333;
					display: block;
					cursor: pointer;
					text-decoration: none;
}
#sixing16 ul li a:hover {
	                     background-color: #f2f2f5;
						 color: #eb7350;
}
#sixing17 {
	       width: 400px;
		   overflow: hidden;
	       height: 400px;
           background: #f2f2f5;
		   padding-bottom: 2px;
		   float: left;
}
#sixing18 {
	       height: 38px;
           padding: 0 10px;
		   line-height: 38px;
		   border-bottom: 1px #d9d9d9 solid;
           background: #fff;
}
#sixing19 {
	       padding-top: 86px;
		   text-align: center;
}
#sixing20 {
	       padding: 16px;
}
#sixing21 {
	       height: 53px;
}
#sixing22 {
	       background-position: -375px -100px;
		   width: 38px;
           height: 42px;
		   display: inline-block;
           background-image: url(imagin/icon.png);
           background-repeat: no-repeat;
		   font-style: normal;
           font-weight: normal;
}
#guan10 {
	     margin-left: 8px;
         font-size: 18px;
		 color: #696e78;
		 font-family: "wbficonregular" !important;
         display: inline-block;
         -webkit-font-smoothing: antialiased;
		 float: right;
}
#guan10:hover {
	           color: #eb7350;
}
#xiabian1 {
	       border-bottom-left-radius: 2px;
           border-bottom-right-radius: 2px;
		   background-color: #f2f2f5;
}
#xiabian2 {
	       margin: -1px 0 0;
           padding: 16px 0 6px;
           border-top-width: 1px;
           border-top-style: solid;
		   border-color: #d9d9d9;
}
#xiabian3 {
	       margin: 0 20px 10px;
		   border: 1px solid #ffe3c8;
		   background: #fff2e6;
		   line-height: 12px;
		   color: #808080;
		   font-size: 12px;
           overflow: hidden;
           padding: 5px 7px 4px 10px;
           text-align: center;
           letter-spacing: normal;
           word-spacing: normal;
}
#xiabian4 {
	       display: inline;
		   margin: 0 5px 0 0;
           vertical-align: -3px;
}  
#xiabian5 {
	       background-position: -350px -150px;
		   width: 16px;
           height: 16px;
		   display: inline-block;
           background-image: url(imagin/icon.png);
           background-repeat: no-repeat;
}   
.xiabian6 {
	       padding: 20px 20px 0px;
}
.xiabian7 {
	       margin-top:0px;
}
.text1 {
	    font-size:12px;
}
#xiabian8 {
	       padding: 0 20px;
           overflow: hidden;
}
#xiabian9 {
	       margin: 6px 0 4px;
           padding: 12px 0 0;
           border-top-width: 1px;
           border-top-style: solid;
		   overflow: hidden;
           line-height: 20px;
		   border-color: #d9d9d9;
}
#xiabian10 {
	        margin: 0 0 0 -10px;
}
#xiabian10 ul li {
	              float: left;
				  margin: 0 0 0 -1px;
}
#xiabian10 ul li span {
	                    display: block;
						margin: 5px 0;
						padding: 0 10px;
						border-left-width: 1px;
						border-left-style: solid;
						line-height: 10px;
						border-color: #d9d9d9;
}
#xiabian11 {
	        font-weight: bold;
			color: #333;
            text-decoration: none;
}
#xiabian12 {
		    text-align: center;
}
#xiabian13 {
		    text-align: center;
}
#xiabian11:hover {
	              color:#eb7350;
}
#xiabian14:hover {
	               color:#eb7350;
}
#first {
	    background:#f7f7f7;
}
#search50 {
	       width: 1000px;
		   margin: 0 auto;
           padding-top: 76px;
		   position: relative;
		   height:1200px;
}
#search51 {
	       width: 884px;
           float: left;
}
#search52 {
	       width: 116px;
           height: 30px;
		   background:url(imagin/search_logo_v7.png);
		   float: left;
		   margin-top: 2px;
		   margin-right: 33px;
}
#search53 {
	       height:36px;
		   float: left;
}
#search54 {
	       background: #fff;
           border: 1px solid #ddd;
           border-radius: 2px;
		   width: 590px;
           height: 34px;
           float: left;
}
#search55 {
	       padding: 0 8px;
}
#search56  {
	        background: none;
			width: 100%;
			height: 36px;
			overflow: hidden;
			border: none;
			line-height: 28px;
			font-size: 20px;
			color: #333;
			font-family: 微软雅黑;
			outline-style: none;
}
#search52 a {
	         display: block;
             width: 115px;
             height: 30px;
}
#search57  {
	        height: 36px;
			width: 100px;
			float: right;
			overflow: hidden;
			margin-left: 18px;
}
#search57 a   {
			    display: block;
				width: 100px;
				height: 36px;
				line-height: 36px;
				text-align: center;
				outline: none;
				background: #f85d00;
				border-radius: 2px;
				color: #fefefe;
				font-size: 16px;
}
#search57 a:hover {
					background: #cc560e;
}
#search58 {
	       float: right;
           margin-top: 12px;
}
#search59 {
	       color: #333;
           margin-right: 22px;
}
#search59:hover {
	              color:#eb7350;
}
#search60 {
	       float: left;
           width: 690px;
		   margin-top:10px;
}
#zuotu100 {
		  background-color:white;
		  margin-top:10px;
		  width: 300px;
}
#zuotu101 {
		   margin-left:4px;
		   vertical-align: middle;
           font-size: 14px;
		   color: #a3a3a3;
}
#zuotu47:hover {
	             color:#eb7350;
}
#search61  {
	        line-height: 20px;
			padding: 16px 18px 12px;
			font-size: 14px;
}
#search61 li{
	         margin-bottom: 7px;
			 height:20px;
}
#search62 {
	        display:inline;
			float: left;
			width: 16px;
			margin-right: 4px;
			vertical-align: middle;
}
.zi {
	 color: #333;
}
.zi:hover {
	       color: #6097d6;
}
.icon10  {
			width: 16px;
			height: 16px;
			vertical-align: -1px;
			display: inline-block;
			margin-left: 4px;
			text-indent: -9999px;
			font-style: normal;
			font-weight: normal;
			background:url(imagin/icon_hot.png);
}
.top {
	  color:#f60;
}
.icon11  {
			width: 16px;
			height: 16px;
			vertical-align: -1px;
			display: inline-block;
			margin-left: 4px;
			text-indent: -9999px;
			font-style: normal;
			font-weight: normal;
			background:url(imagin/icon_new.png);
}
.zi2 {
	  float: right;
	  color: #808080;
}
#search68 {
	       float:right;
		   color: #6097d6;
		   margin: 6px -6px 0 0;
}
#search69 {
	       padding: 10px 7px;
		   
}
#search69 ul {
	          height:30px;
}
#search69 ul li  {
	                height: 26px;
					overflow: hidden;
					line-height: 26px;
					padding: 0 9px 0 13px;
}
#search70 {
	        margin: 0 0 10px;
}
#search70 p  {
	            text-align: center;
				line-height: 28px;
				background: #feffe5;
				border: solid 1px #f9f2a7;
}
#search71  {
		    width: 16px;
			height: 16px;
			background: url(imagin/ico_warn.png);
			margin: 0 3px 0 0;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;
}
.yanse {
	    color: #6097d6;
}
#search72 {
	        box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
		    background: #fff;
			color: #808080;
}
#search73 {
	        padding: 20px 0 15px 0;
            margin: 0 auto;
            width: 1000px;
}
.search74 {
	        padding: 0px 0 15px 0;
			margin: 0 auto;
			width: 1000px;
}
.search74 p {
	         padding: 3px 0 0;
             line-height: 18px;
}
.tuxing {
	      background: url(imagin/ico_expand.png) no-repeat 0 -40px;
		  padding: 2px 0 2px 20px;
}
.search74 p a {
	           margin-right: 20px;
			   color: #808080;
}
.search74 p span {
	              margin-right: 20px;
			      color: #808080;
}
.zuotu1000 {
	        position:fixed;
			top:30px;
			right: 430px;
}
#search75 {
	       margin-top: 64px;
}
#search76 {
	       background: #fff;
}
#search76 ul  {
	            width: 810px;
			    margin: auto;
				height: 40px;
}
#search76 ul li {
	             display: inline-block;
				 margin: 0 5%;
}
#search77 {
	       border-bottom: 2px solid #f7691c;
           font-weight: bolder;
}
#search76 ul li a{
					display: block;
					padding: 10px;
					font-size: 14px;
					color: #333;
}
#search76 ul li a:hover {
	                      border-bottom: 2px solid #f7691c;
                          font-weight: bolder;
}
#search500 {
			   width: 1000px;
			   margin: 0 auto;
			   padding-top: 76px;
			   position: relative;
			   height:1670px;
}
#xia1 {
	   background:white;
}
.search77 {
	       margin-bottom: 14px;
		   overflow:hidden;
}
.search78 {
	       float: left;
           margin-right: 10px;
}
.search78 a {
	            display: block;
				width: 50px;
				height: 50px;
}
.search78 a img {
	              width: 50px;
				  height: 50px;
				  border-radius: 50%;
}
.search80  {
	        margin-bottom: 5px;
			padding-top: 5px;
			margin-left: 60px;
			font-size: 14px;
			font-weight: 700;
}
.search81 {
			background-position: 0 -125px;
			width: 13px;
			height: 14px;
			margin-left: 3px;
			display: inline-block;
			background-image: url(imagin/icon_out.png);
			background-repeat: no-repeat;
			vertical-align: text-bottom;
}
.search82 {
	        line-height: 16px;
			color: #999;
			word-break: break-word;
			margin-left: 0;
			font-size:12px;
}
.red {
	  color: #ef4d58;
	  font-weight: normal;
}
#search83 {
	        background: #fff;
			margin: 0 0 10px 0;
            border-radius: 2px;
			border: 1px solid #eee;
}
#search84 {
	       padding: 14px 16px;
}
#search85 {
	       font-size: 12px;
           line-height: 20px;
}
#search86 {
	       margin-bottom: 20px;
}
#search85 dl dt {
	             font-weight: bold;
}
#search85 dl a {
	            margin: 0 7px 0 5px;
				color: #6097d6;
}
#search86 {
	        clear: both;
			line-height: 27px;
			border: 1px solid #e4e7f8;
			background: #f8f9fe;
			margin-bottom: 10px;
			padding-left: 15px;
			color: #999;
			text-align: center;
}
#btn10 {
	    position: fixed;
		bottom: 120px;
		left: 50%;
		margin-left: 510px;
		display: block;
		width: 40px;
		height: 35px;
		padding-top: 5px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		opacity: .4;
		background: #696e78;
}
#xiangshang  {
	            display: inline-block;
				font-size: 20px;
				width: 26px;
				height: 30px;
				line-height: 30px;
				overflow: hidden;
				color: #fff;
				font-family: "wbficonregular" !important;
                -webkit-font-smoothing: antialiased;
}

     






